body{
    background-color: lightyellow;
}
h1{
    background-color: darkgoldenrod;
    color: black;
    text-align: center;
}
h2{
    background-color: goldenrod;
    color: black;
    text-align: center;
}
h3{
    background-color: lightgoldenrodyellow;
}
h4{
    background-color: lightgoldenrodyellow;
}
button{
    background-color: yellow;
}